<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
   <div class="container">
    <form action="/polls/lol/" method="post">{% csrf_token %}
        <label ><b>usuario</b></label>
        <input type="text"  name="uname" required>

        <label ><b>contraseña</b></label>
        <input type="password" name="psw" required>
        <button type="submit">Login</button>
          </form>
      </div>
  <div id = "registrarse">
      <p>no tienes cuenta?</p>
      <form action="/polls/registro/" method="post">{% csrf_token %}
          <button type="submit">registrate!!</button>
      </form>
  </div>
  </body>
</html>